:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;
  
    --menu-background: #6f61c9;
    --menu-border-color: #ffffff;
    --menu-font-color: #000000;
    --menu-selected-background: #7fc2ff;
  }
  
  * {
    box-sizing:border-box;
  }
  
  body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .game-container {
    position: relative; 
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid #fff;
  
    transform: scale(3) translateY(50%);
  }
  
  .game-container canvas {
    image-rendering: pixelated;
  }